.input-field {
    position: relative;
    margin-top: 15px;
    input[type=text],
    input[type=password],
    input[type=email],
    input[type=url],
    input[type=time],
    input[type=date],
    input[type=datetime],
    input[type=datetime-local],
    input[type=tel],
    input[type=number],
    input[type=search] {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #9e9e9e;
        border-radius: 0;
        outline: none;
        height: 45px;
        width: 100%;
        font-size: 15px;
        margin: 0 0 15px 0;
        padding: 0;
        box-shadow: none;
        box-sizing: content-box;
        transition: all 0.3s;
        @include placeholder() {
            color: #d1d1d1;
        }
        &:focus {
            border-bottom: 1px solid $clr-ui-primary;
            box-shadow: 0 1px 0 0 $clr-ui-primary;
            + label {
                color: $clr-ui-primary;
                font-size: 12px;
                @include transform(translateY(-140%));
            }
        }
        &[placeholder], &[value], &.no-empty {
            + label {
                font-size: 12px;
                @include transform(translateY(-140%));
            }
        }
    }
    label {
        color: #9e9e9e;
        position: absolute;
        top: 12px;
        left: 0;
        font-size: 15px;
        cursor: text;
        transition: .2s ease-out;
    }
}

.etp-select {
    position: relative;
    .es-btn {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #9e9e9e;
        border-radius: 0;
        outline: none;
        height: 45px;
        width: 100%;
        font-size: 15px;
        margin: 0 0 15px 0;
        padding: 0;
        box-shadow: none;
        box-sizing: content-box;
        transition: all 0.3s;
        line-height: 45px;
        position: relative;
        cursor: pointer;
        &:before {
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 5px 0 5px;
            border-color: #737373 transparent transparent transparent;
            position: absolute;
            right: 7px;
            top: 50%;
            margin-top: -2.5px;
        }
    }
    .es-list {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        background-color: #fff;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
        padding: 8px 0;
        border-radius: 2px;
        > div {
            line-height: 48px;
            font-size: 15px;
            padding: 0 16px;
            cursor: pointer;
            position: relative;
            @include transition(all .2s ease 0s);
            &.active {
                background-color: rgba(0,0,0,0.05);
            }
            &:hover {
                background-color: rgba(0,0,0,0.12);
            }
        }
    }
    .es-marker {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        margin-top: -5px;
//        left: 16px;
        + span {
            padding-left: 20px;
            display: block;
        }
    }
    &.opened {
        .es-list {
            display: block;
        }
    }
    &.pos-top {
        .es-list {
            bottom: 0;
        }
    }
    &.pos-bottom {
        .es-list {
            top: 0;
        }
    }
}