<template name="Modal_three">
    <div class="modal-box-header">
        <h2 class="title clear">Modal Three!</h2>
    </div>
    <div class="modal-box-content">
        <p>Content of Modal Three</p>
        <b>MyData:</b>
        <i>{{myData}}</i>
    </div>
    <div class="modal-box-footer clearfix">
        <a href="#Modal_one" class="btn btn-orange">Modal One</a>
        <a href="#Modal_two" class="btn btn-orange">Modal Two</a>
        <div class="btn-set btn-small-space" style="float: right">
            <button type="submit" class="btn">save</button>
            <button type="button" class="btn" data-modal-boxes="close">cancel</button>
        </div>
    </div>
</template>
