body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    padding: 30px;
    .container {
        text-align: center;
        h1 {
            margin: 0.67em 0;
            font-weight: 300;
            color: #4d5558;
        }    
    }
}

.clearfix {
    &:before, &:after {
        content: " ";
        clear: both;
        display: block;
    }
}

.title {
    font-size: 20px;
    font-weight: $fw-roboto-medium;
    line-height: 28px;
    color: rgba(black, .87);
    &.clear {
        margin: 0;
    }
}
