<template name="hello">
    <div class="btn-set">
        <a href="#Modal_one" class="btn btn-raised">Open Modal One</a>
        <a href="#Modal_two" class="btn btn-raised btn-green">Open Modal Two</a>
        <a href="#Modal_two" class="btn btn-raised btn-red">Open Modal Three</a>
    </div>
    <br />
    <br />
    <div class="btn-set">
        <a href="https://github.com/stepanlylak/modal-boxes" class="btn">GitHub</a>
        <a href="https://atmospherejs.com/lylak/modal-boxes" class="btn btn-orange">AtmosphereJs</a>
    </div>
</template>
